#app {
    font-family: 'Montserrat', sans-serif;
}

.textIndent {
    text-indent: 55px;
}

#mainNavMenu {
    width: 100%;
    background: #000000;
    position: fixed;
    z-index: 1000;
}

#mainLogo {
    height: 50px;
    width: 175px;
}

/*#mainLogoText {
    font-family: ;
}*/

#mainNavMenuLink {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px;
}

#mainNavMenuLink:hover {
    background: #2E3191;
}

#mainContentHolder {
    margin-top: 65px;
}

#zahrasignsMainCarouselTextDescription {
    font-family: 'Colonna MT';
}

.slide1 {
    background-image: url('/images/sign.jpg');
}

.slide2 {
    background-image: url('/images/sign1.jpg');
}

.slide3 {
    background-image: url('/images/sign2.jpg');
}

.slide4 {
    background-image: url('/images/sign4.jpg');
}

.slide5 {
    background-image: url('/images/sign5.jpg');
}

.slide1, .slide2, .slide3, .slide4, .slide5 {
    width: 100%;
    background-size: cover;
    background-position: center;
}

#input_full_names:hover, #input_email:hover, #input_phone_number:hover, #input_postal_code:hover, 
#input_quote:hover {
    background: #CCEEFF;
    cursor: pointer;
}

#introductionSectionBackground {
    /* background-image: url('/images/special-background/BG-2 - Copy.jpg'); */
    background-image: url('/images/special-background/BG.png');
    background-size: cover;
    background-position: center;
}

.reveal {
    opacity: 0;
    transition: 3s all ease;
}

.reveal.active {
    opacity: 1;
}

.topReveal {
    transform: translateY(-150px);
    opacity: 0;
    transition: 3s all ease;
}

.topReveal.active {
    transform: translateY(0);
    opacity: 1;
}

.bottomReveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 3s all ease;
}

.bottomReveal.active {
    transform: translateY(0);
    opacity: 1;
}

.darkShade {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
}

#backgroundAdjustment {
    overflow: hidden;
}

#signageProcessRow, #aboutUsSpecialBackground {
    background-image: url('/images/portfolio_images/portfolio.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#extraContentSection {
    /* background-image: url('/images/special-background/BG-2 - Copy.jpg'); */
    background-image: url('/images/special-background/BG.png');
    background-size: cover;
    background-position: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

#productsSection {
    background-image: url('/images/CITY-BG.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

#productsCardCol a {
    text-decoration: none;
}

#productsCardCol a #productsCard #productsCardText {
    font-weight: 900;
}

#productsCard:hover {
    background: #2E3191;
    color: #FFFFFF;
    cursor: pointer;
}

#productsCardBody1, #productsCardBody2, #productsCardBody3, #productsCardBody4, #productsCardBody5, 
#productsCardBody6, #productsCardBody7, #productsCardBody8, #indoorSigns, #outdoorSigns {
    background-position: center;
    background-size: cover;
}

#cardSignsDarkShade {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

#cardSignsText {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
    margin-top: 205px;
}

#indoorSigns {
    background-image: url('/images/portfolio_images/indoor-signs/WhatsApp Image 2023-01-26 at 1.20.12 PM (1).jpeg');
}

#outdoorSigns {
    background-image: url('/images/portfolio_images/00251906_a42259fc38ff2a09de6efa4d97b38469_arc614x376_w614_us1.jpg');
}

#indoorSigns, #outdoorSigns {
    height: 495px;
    transition: transform 2s;
}

#indoorSigns:hover, #outdoorSigns:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#productsCardBody1 {
    background-image: url('/images/portfolio_images/00251906_a42259fc38ff2a09de6efa4d97b38469_arc614x376_w614_us1.jpg');
}

#productsCardBody2 {
    background-image: url('/images/portfolio_images/Energy.jpg');
}

#productsCardBody3 {
    background-image: url('/images/portfolio_images/WhatsApp Image 2023-01-26 at 8.45.39 PM.jpeg');
}

#productsCardBody4 {
    background-image: url('/images/portfolio_images/PM-PDC-ARTWORK.jpg');
}

#productsCardBody5 {
    background-image: url('/images/portfolio_images/Door Panels.jpg');
}

#productsCardBody6 {
    background-image: url('/images/portfolio_images/Non illuminated signs.jpg');
}

#productsCardBody7 {
    background-image: url('/images/portfolio_images/3D Illuminated signs.jpg');
}

#productsCardBody8 {
    background-image: url('/images/portfolio_images/Branding.jpg');
}

#productsCardText {
    font-size: 18px;
    font-weight: 600;
}

#statisticsCounter {
    /* background-image: url('/images/special-background/BG-2 - Copy.jpg'); */
    background-image: url('/images/special-background/BG.png');
    background-size: cover;
    background-position: center;
}

#statisticsCounterTitle {
    color: #2E3191;
    font-weight: 700;
}

#portFolioIcon {
    color: #00ADEE;
}

#portFolioText {
    color: #00ADEE;
}

#footerTitleText {
    text-transform: uppercase;
    text-decoration: underline;
}

#footerContactsIcons {
    color: #FFFFFF;
}

#footerContactsIconsLinks {
    color: #FFFFFF;
    font-size: 10px;
}

#footerContactsIconsLinks a {
    text-decoration: none;
    color: #FFFFFF;
}

#footerContactsIconsLinks:hover a {
    color: #007AFF;
    cursor: pointer;
}

#mainFooterLogo {
    height: 72px;
    width: 275px;
}

#argoneTech {
    text-decoration: none;
    color: #FFFF33;
}

#psBackground, #aboutUsBackground {
    /* background-image: url('/images/special-background/BG-2 - Copy.jpg'); */
    background-image: url('/images/special-background/BG.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#ourMajorClients {
    height: 300px;
}

#ourMajorClients::-webkit-scrollbar, #ourClienteleCardsCardBody::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}

#ourMajorClients::-webkit-scrollbar-track, #ourClienteleCardsCardBody::-webkit-scrollbar-track {
  background: #000000;        /* color of the tracking area */
}

#ourMajorClients::-webkit-scrollbar-thumb, #ourClienteleCardsCardBody::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 2px;       /* roundness of the scroll thumb */
  border: 0.75px solid #FFFFFF;  /* creates padding around scroll thumb */
}

#zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons{
    margin-top: 150px;
}

#ourClienteleCards {
    height: 300px;
}

#ourClienteleCards .card-header {
    background: #00ADEE;
}

#ourClienteleCards:hover {
    cursor: pointer;
}

#ourClienteleCardsCardBody {
    overflow-x: none;
    overflow-y: scroll;
}

#registerButton, #loginButton {
    background: #0a244a;
}

#registerButton:hover, #loginButton:hover {
    background: #0067ff;
    box-shadow: 2px 2px 2px 2px;
}

#emailPasswordButton, #resendVerificationEmailButton {
    background: #3d3d3d;
}

#emailPasswordButton:hover, #resendVerificationEmailButton:hover {
    background: #9e9e9e;
    box-shadow: 2px 2px 2px 2px;
}

#resetPasswordButton, #confirmPasswordButton {
    background: #2b5227;
}

#resetPasswordButton:hover, #confirmPasswordButton:hover {
    background: #90ff85;
    box-shadow: 2px 2px 2px 2px;
}

/******************************* Start of Contact Us Icons styling *******************************/

#sy-whatshelp {
  right: 25px;
  bottom: 25px;
  position: fixed;
  z-index: 9999;
}

#sy-whatshelp a {
  position: relative;
}

#sy-whatshelp a.sywh-open-services {
  background-color: #129bf4;
  color: #fff;
  line-height: 55px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  box-shadow: 2px 2px 8px -3px #000;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

#sy-whatshelp a.sywh-open-services i {
    line-height: 25px;
}

#sy-whatshelp a.sywh-open-services i.fa-times {
    display: none;
}

#sy-whatshelp .sywh-services {
    width: 35px;
    height: auto;
}

#sy-whatshelp .sywh-services a {
    display: none;
}

#sy-whatshelp .sywh-services a i {
    background-color: #129bf4;
    color: #fff;
    line-height: 55px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    box-shadow: 2px 2px 8px -3px #000;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

#sy-whatshelp .sywh-services a.facebook i {
    background-color: #0084ff;
}

#sy-whatshelp .sywh-services a.main_whatsapp i {
    background-color: #25d366;
}

#sy-whatshelp .sywh-services a.alternative_whatsapp i {
    background-color: #195e33;
}

#sy-whatshelp .sywh-services a.main_phone_number i {
    background-color: #ff6600;
}

#sy-whatshelp .sywh-services a.alternative_phone_number i {
    background-color: #6e4021;
}

#sy-whatshelp .sywh-services a.instagram i {
    background-color: #660066;
}

#sy-whatshelp .sywh-services a.main_email_address i {
    background-color: #0084ff;
}

#sy-whatshelp .sywh-services a.alternative_email_address i {
    background-color: #214363;
}

#sy-whatshelp .sywh-services a.twitter i {
    background-color: #0084ff;
}

a[data-tooltip] {
  position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
}

a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 7px 11px;
  border-radius: 5px;
  white-space: nowrap;
  text-decoration: none;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: "";
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

a.sywh-open-services[data-tooltip]::before,
a.sywh-open-services[data-tooltip]::after {
  display: block;
}

a.data-tooltip-hide[data-tooltip]::before,
a.data-tooltip-hide[data-tooltip]::after {
  display: none !important;
}

a.sywh-open-services[data-tooltip][data-placement="left"]::before {
  top: 11px;
}

a[data-tooltip][data-placement="left"]::before {
  top: -7px;
  right: 100%;
  line-height: normal;
  margin-right: 10px;
}

a[data-tooltip][data-placement="left"]::after {
  border-left-color: #000;
  border-right: none;
  top: 50%;
  right: 100%;
  margin-top: -6px;
  margin-right: 4px;
}

a[data-tooltip][data-placement="right"]::before {
  top: -7px;
  left: 100%;
  line-height: normal;
  margin-left: 10px;
}

a[data-tooltip][data-placement="right"]::after {
  border-right-color: #000;
  border-left: none;
  top: 50%;
  left: 100%;
  margin-top: -6px;
  margin-left: 4px;
}

a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
}

a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 100%;
  left: 10px;
  margin-bottom: 4px;
}

a[data-tooltip][data-placement="bottom"]::before {
  top: 100%;
  left: 0;
  margin-top: 10px;
}

a[data-tooltip][data-placement="bottom"]::after {
  border-bottom-color: #000;
  border-top: none;
  top: 100%;
  left: 10px;
  margin-top: 4px;
}


/******************************* End of Contact Us Icons styling *******************************/

/*************************** Start of very small screen styling ***************************/

@media screen and (max-width: 300px) {
    #navbarToggler {
        background-color: #FFFFFF;
        height: 35px;
        width: 35px;
    }

    #navbarTogglerIcon {
        background-color: #FFFFFF;
        height: 15px;
        width: 15px;
    }

    #mainNavMenuLink {
        border: none;
        border-radius: 25px;
        color: #FFFFFF;
    }

    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 275px;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5 {
        height: 275px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 75px;
        width: 155px;
        position: absolute;
        margin-left: 25px;
        margin-top: -225px;
        border-radius: 15px;
        padding: 0.5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 12px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-left: 15px;
    }

    #introTitleStatement {
        font-size: 20px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 14px;
    }

    .swiper {
        width: 100%;
        height: 495px;
    }

    .swiper-slide {
        width: 275px;
        height: 375px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 105px;
        width: 105px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 18px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 12px;
    }

    #signageSwiperSlideNumber {
        font-size: 24px;
    }

    #productsTitle, #statisticsCounterTitle, #signageProcessTitle, #testimonialsTitle, #psTitle, #aboutUsTitle, 
    #majorProjectsTitle, #ourClienteleTitle {
        font-size: 30px;
        margin-top: 25px;
        font-family: 'Colonna MT';
    }

    #extraContentSectionTitleHolder {
    border: 10px solid #2E3191;
    }   

    #extraContentSectionTitle {
        padding: 25px;
        font-family: 'Paytone One', sans-serif;
        font-size: 30px;
    }

    #extraContentSectionTitleKey1, #extraContentSectionTitleKey2 {
        color: #00ADEE;
        text-transform: uppercase;
    }

    #portFolioIcon {
        font-size: 30px;
    }

    #portFolioNumber {
        color: #E60000;
        font-size: 20px;
    }

    #portFolioText {
        font-size: 14px;
        font-weight: 300;
    }

    #productsCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 275px;
        height: 275px;
        overflow: hidden;
    }

    #testimonialSection {
        background-image: url('/images/sign3.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 700px;
    }

    #clientTestimonialsImage {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 105px;
        height: 105px;
    }

    #zahrasignsMainCarouselTestimonialsHolder q {
        font-size: 10px;
    }

    #zahrasignsMainCarouselTestimonialsHolder b {
        font-size: 12px;
    }

    #zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        height: 25px;
        width: 25px;
    }

    #mainMapSection {
        width: 100%;
        height: 675px;
    }

}

/*************************** End of very small screen styling ***************************/

/*************************** Start of small-medium screen styling ***************************/

@media screen and (min-width: 300px) {
    #navbarToggler {
        background-color: #FFFFFF;
        height: 45px;
        width: 45px4
    }

    #navbarTogglerIcon {
        background-color: #FFFFFF;
        height: 25px;
        width: 25px;
    }

    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 300px;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5 {
        height: 300px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 105px;
        width: 195px;
        position: absolute;
        margin-left: 25px;
        margin-top: -225px;
        border-radius: 15px;
        padding: 0.5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 16px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-left: 10px;
    }

    #mainNavMenuLink {
        border: none;
        border-radius: 25px;
        color: #FFFFFF;
    }

    #introTitleStatement {
        font-size: 22px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 14px;
    }

    .swiper {
        width: 100%;
        height: 495px;
    }

    .swiper-slide {
        width: 275px;
        height: 375px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 105px;
        width: 105px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 18px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 12px;
    }

    #signageSwiperSlideNumber {
        font-size: 24px;
    }

    #productsTitle, #statisticsCounterTitle, #signageProcessTitle, #testimonialsTitle, #psTitle, #aboutUsTitle, 
    #majorProjectsTitle, #ourClienteleTitle {
        font-size: 32px;
        margin-top: 25px;
        font-family: 'Colonna MT';
    }

    #extraContentSectionTitleHolder {
    border: 10px solid #2E3191;
    }   

    #extraContentSectionTitle {
        padding: 25px;
        font-family: 'Paytone One', sans-serif;
        font-size: 32px;
    }

    #extraContentSectionTitleKey1, #extraContentSectionTitleKey2 {
        color: #00ADEE;
        text-transform: uppercase;
    }

    #portFolioIcon {
        font-size: 30px;
    }

    #portFolioNumber {
        font-size: 20px;
    }

    #portFolioText {
        font-size: 14px;
        font-weight: 400;
    }

    #productsCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 275px;
        height: 275px;
        overflow: hidden;
    }

    #testimonialSection {
        background-image: url('/images/sign3.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 700px;
    }

    #clientTestimonialsImage {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 105px;
        height: 105px;
    }

    #zahrasignsMainCarouselTestimonialsHolder q {
        font-size: 10px;
    }

    #zahrasignsMainCarouselTestimonialsHolder b {
        font-size: 12px;
    }

    #zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        height: 25px;
        width: 25px;
    }

    #mainMapSection {
        width: 100%;
        height: 675px;
    }

}

/*************************** End of small-medium screen styling ***************************/

/*************************** Start of special screen styling ***************************/

@media screen and (min-width: 575px) and (max-width: 1199px) {
    .swiper {
        width: 100%;
        height: 575px;
    }

    .swiper-slide {
        width: 275px;
        height: 495px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 20px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 14px;
    }

    #signageSwiperSlideNumber {
        font-size: 24px;
    }

    #productsCardRow #productsCardCol {
        width: 50%;
    }

    #productsCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 275px;
        height: 275px;
        overflow: hidden;
    }

    #testimonialSection {
        background-image: url('/images/sign3.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 600px;
    }

    #clientTestimonialsImage {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 135px;
        height: 135px;
    }

    #zahrasignsMainCarouselTestimonialsHolder q {
        font-size: 12px;
    }

    #zahrasignsMainCarouselTestimonialsHolder b {
        font-size: 14px;
    }

    #zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }

    #mainMapSection {
        width: 100%;
        height: 575px;
    }
}

/*************************** End of special screen styling ***************************/

/*************************** Start of tablet screen styling ***************************/

@media screen and (min-width: 600px) {
    #navbarToggler {
        background-color: #FFFFFF;
        height: 45px;
        width: 45px4
    }

    #navbarTogglerIcon {
        background-color: #FFFFFF;
        height: 25px;
        width: 25px;
    }

    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 450px;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5 {
        height: 450px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 155px;
        width: 275px;
        position: absolute;
        margin-left: 35px;
        margin-top: -395px;
        border-radius: 35px;
        padding: 0.5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 26px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 22px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-left: 15px;
    }

    #introTitleStatement {
        font-size: 24px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 16px;
    }

    #productsTitle, #statisticsCounterTitle, #signageProcessTitle, #testimonialsTitle, #psTitle, #aboutUsTitle, 
    #majorProjectsTitle, #ourClienteleTitle {
        font-size: 44px;
        margin-top: 25px;
        font-family: 'Colonna MT';
    }

    #extraContentSectionTitleHolder {
    border: 10px solid #2E3191;
    }   

    #extraContentSectionTitle {
        padding: 25px;
        font-family: 'Paytone One', sans-serif;
        font-size: 44px;
    }

    #extraContentSectionTitleKey1, #extraContentSectionTitleKey2 {
        color: #00ADEE;
        text-transform: uppercase;
    }

    #portFolioIcon {
        font-size: 40px;
    }

    #portFolioNumber {
        font-size: 30px;
    }

    #portFolioText {
        font-size: 16px;
        font-weight: 500;
    }

    #testimonialSection {
        background-image: url('/images/sign3.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 600px;
    }

    #clientTestimonialsImage {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 135px;
        height: 135px;
    }

    #zahrasignsMainCarouselTestimonialsHolder q {
        font-size: 12px;
    }

    #zahrasignsMainCarouselTestimonialsHolder b {
        font-size: 14px;
    }

    #zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }

    #mainMapSection {
        width: 100%;
        height: 575px;
    }

}

/*************************** End of tablet screen styling ***************************/

/*************************** Start of medium screen styling ***************************/

@media screen and (min-width: 1200px) {
    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 600px;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5 {
        height: 600px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 205px;
        width: 475px;
        position: absolute;
        margin-left: 45px;
        margin-top: -525px;
        border-radius: 55px;
        padding: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsGetQuoteFormArea {
        width: 500px;
        height: 555px;
        position: relative;
        margin-top: -585px;
        margin-right: 45px;
        float: right;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #zahrasignsGetQuoteFormArea::-webkit-scrollbar {
      width: 5px;               /* width of the entire scrollbar */
    }

    #zahrasignsGetQuoteFormArea::-webkit-scrollbar-track {
      background: linear-gradient(to right, black, #007AFF);        /* color of the tracking area */
    }

    #zahrasignsGetQuoteFormArea::-webkit-scrollbar-thumb {
      background-color: blue;    /* color of the scroll thumb */
      border-radius: 2px;       /* roundness of the scroll thumb */
      border: 1px solid #FFFFFF;  /* creates padding around scroll thumb */
    }

    #zahrasignsGetQuoteFormTitle {
        text-decoration: underline;
        text-transform: uppercase;
    }

    #zahrasignsGetQuoteFormButton {
        text-transform: uppercase;
        font-weight: 600;
    }

    #zahrasignsMainCarouselText {
        font-size: 32px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 25px;
        margin-left: 25px;
    }

    #introTitleStatement {
        font-size: 28px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 20px;
    }

    .swiper {
        width: 100%;
        height: 595px;
    }

    .swiper-slide {
        width: 475px;
        height: 475px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 175px;
        width: 175px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 28px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 16px;
    }

    #signageSwiperSlideNumber {
        font-size: 24px;
    }

    #productsTitle, #statisticsCounterTitle, #signageProcessTitle, #testimonialsTitle, #psTitle, #aboutUsTitle, 
    #majorProjectsTitle, #ourClienteleTitle {
        font-size: 48px;
        margin-top: 25px;
        font-family: 'Colonna MT';
    }

    #extraContentSectionTitleHolder {
    border: 10px solid #2E3191;
    }   

    #extraContentSectionTitle {
        padding: 25px;
        font-family: 'Paytone One', sans-serif;
        font-size: 48px;
    }

    #extraContentSectionTitleKey1, #extraContentSectionTitleKey2 {
        color: #00ADEE;
        text-transform: uppercase;
    }

    #portFolioIcon {
        font-size: 80px;
    }

    #portFolioNumber {
        font-size: 40px;
    }

    #portFolioText {
        font-size: 24px;
        font-weight: 600;
    }

    #productsCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        overflow: hidden;
    }

    #testimonialSection {
        background-image: url('/images/sign3.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 555px;
    }

    #clientTestimonialsImage {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 255px;
        height: 255px;
    }

    #zahrasignsMainCarouselTestimonialsHolder q {
        font-size: 14px;
    }

    #zahrasignsMainCarouselTestimonialsHolder b {
        font-size: 16px;
    }

    #zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }

    #mainMapSection {
        width: 100%;
        height: 475px;
    }

    #portfolioImage {
        height: 300px;
        width: 100%;
        transition: transform 0.5s;
    }

    #portfolioImage:hover {
        cursor: pointer;
        transform: scale(1.5);
    }

}

/*************************** End of medium screen styling ***************************/

/*************************** Start of large screen styling ***************************/

@media screen and (min-width: 1800px) {
    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 900px;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5 {
        height: 900px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 235px;
        width: 675px;
        position: absolute;
        margin-left: 45px;
        margin-top: -795px;
        border-radius: 55px;
        padding: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 38px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 45px;
        margin-left: 45px;
    }

    #introTitleStatement {
        font-size: 32px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 24px;
    }

    .swiper {
        width: 100%;
        height: 795px;
    }

    .swiper-slide {
        width: 675px;
        height: 675px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 225px;
        width: 225px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 38px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 24px;
    }

    #signageSwiperSlideNumber {
        font-size: 28px;
    }

    #productsTitle, #statisticsCounterTitle, #signageProcessTitle, #testimonialsTitle, #psTitle, #aboutUsTitle, 
    #majorProjectsTitle, #ourClienteleTitle {
        font-size: 52px;
        margin-top: 25px;
        font-family: 'Colonna MT';
    }

    #extraContentSectionTitleHolder {
    border: 10px solid #2E3191;
    }   

    #extraContentSectionTitle {
        padding: 25px;
        font-family: 'Paytone One', sans-serif;
        font-size: 52px;
    }

    #extraContentSectionTitleKey1, #extraContentSectionTitleKey2 {
        color: #00ADEE;
        text-transform: uppercase;
    }

    #portFolioIcon {
        font-size: 80px;
    }

    #portFolioNumber {
        font-size: 60px;
    }

    #portFolioText {
        font-size: 24px;
        font-weight: 900;
    }

    #productsCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 400px;
        height: 400px;
        overflow: hidden;
    }

    #testimonialSection {
        background-image: url('/images/sign3.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 555px;
    }

    #clientTestimonialsImage {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 355px;
        height: 355px;
    }

    #zahrasignsMainCarouselTestimonialsHolder q {
        font-size: 16px;
    }

    #zahrasignsMainCarouselTestimonialsHolder b {
        font-size: 18px;
    }

    #zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    #mainMapSection {
        width: 100%;
        height: 475px;
    }

}

/*************************** End of large screen styling ***************************/

/*************************** Start of extra large screen styling ***************************/

@media screen and (min-width: 2400px) {
    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 1200px;
    }

    .slide1, .slide2, .slide3, .slide4, .slide5 {
        height: 1200px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 275px;
        width: 725px;
        position: absolute;
        margin-left: 45px;
        margin-top: -995px;
        border-radius: 55px;
        padding: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 46px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 44px;
        text-transform: uppercase;
        margin-top: 55px;
        margin-left: 55px;
    }

    #introTitleStatement {
        font-size: 36px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 28px;
    }

    .swiper {
        width: 100%;
        height: 995px;
    }

    .swiper-slide {
        width: 875px;
        height: 875px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 325px;
        width: 325px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 48px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 32px;
    }

    #signageSwiperSlideNumber {
        font-size: 24px;
    }

    #productsTitle, #statisticsCounterTitle, #signageProcessTitle, #testimonialsTitle, #psTitle, #aboutUsTitle, 
    #majorProjectsTitle, #ourClienteleTitle {
        font-size: 56px;
        margin-top: 25px;
        font-family: 'Colonna MT';
    }

    #extraContentSectionTitleHolder {
    border: 10px solid #2E3191;
    }   

    #extraContentSectionTitle {
        padding: 25px;
        font-family: 'Paytone One', sans-serif;
        font-size: 56px;
    }

    #extraContentSectionTitleKey1, #extraContentSectionTitleKey2 {
        color: #00ADEE;
        text-transform: uppercase;
    }

    #portFolioIcon {
        font-size: 100px;
    }

    #portFolioNumber {
        font-size: 80px;
    }

    #portFolioText {
        font-size: 30px;
        font-weight: 900;
    }

    #productsCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 475px;
        height: 475px;
        overflow: hidden;
    }

    #testimonialSection {
        background-image: url('/images/sign3.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 555px;
    }

    #clientTestimonialsImage {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        width: 355px;
        height: 355px;
    }

    #zahrasignsMainCarouselTestimonialsHolder q {
        font-size: 16px;
    }

    #zahrasignsMainCarouselTestimonialsHolder b {
        font-size: 18px;
    }

    #zahrasignsMainTestimonialsCarouselButtons, #carouselClieteleFadeButtons {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    #mainMapSection {
        width: 100%;
        height: 475px;
    }
}

/*************************** End of extra large screen styling ***************************/







