#app {
    font-family: 'Montserrat', sans-serif;
}

#mainNavMenu {
    width: 100%;
    background: #000000;
    position: fixed;
    z-index: 1000;
}

#mainLogo {
    height: 50px;
    width: 175px;
}

/*#mainLogoText {
    font-family: ;
}*/

#mainNavMenuLink {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

#mainNavMenuLinkHolder:hover {
    border-radius: 15px;
    background: #2E3191;
}

#mainContentHolder {
    margin-top: 65px;
}

.slide1 {
    background-image: url('/images/sign.jpg');
}

.slide2 {
    background-image: url('/images/sign1.jpg');
}

.slide3 {
    background-image: url('/images/sign2.jpg');
}

.slide1, .slide2, .slide3 {
    width: 100%;
    background-size: cover;
    background-position: center;
}

#introductionSectionBackground {
    background-image: url('/images/special-background/BG-2 - Copy.jpg');
    background-size: cover;
    background-position: center;
}

.topReveal {
    transform: translateY(-150px);
    opacity: 0;
    transition: 3s all ease;
}

.topReveal.active {
    transform: translateY(0);
    opacity: 1;
}

.bottomReveal {
    transform: translateY(150px);
    opacity: 0;
    transition: 3s all ease;
}

.bottomReveal.active {
    transform: translateY(0);
    opacity: 1;
}

.darkShade {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
}

#signageProcessRow {
    background-image: url('/images/portfolio_images/portfolio.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#extraContentSection {
    background-image: url('/images/special-background/BG-2 - Copy.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

#extraContentSectionTitleHolder {
    border: 10px solid #2E3191;
}   

#extraContentSectionTitle {
    padding: 25px;
    font-family: 'Paytone One', sans-serif;
}

#extraContentSectionDescription {
    text-indent: 75px;
    padding-right: 35px;
    padding-left: 35px;
}

#extraContentSectionTitleKey1 {
    color: #00ADEE;
    text-transform: uppercase;
}

#extraContentSectionTitleKey2 {
    color: #E60000;
    text-transform: uppercase;
}

#portFolioSection {
    background-image: url('');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

#portFolioCard:hover {
    background: #2E3191;
    color: #FFFFFF;
    cursor: pointer;
}

#portFolioCardBody1, #portFolioCardBody2, #portFolioCardBody3, #portFolioCardBody4, #portFolioCardBody5, 
#portFolioCardBody6, #portFolioCardBody7, #portFolioCardBody8 {
    background-position: center;
    background-size: cover;
}

#portFolioCardBody1 {
    background-image: url('/images/portfolio_images/00251906_a42259fc38ff2a09de6efa4d97b38469_arc614x376_w614_us1.jpg');
}

#portFolioCardBody2 {
    background-image: url('/images/portfolio_images/Energy.jpg');
}

#portFolioCardBody3 {
    background-image: url('/images/portfolio_images/WhatsApp Image 2023-01-26 at 8.45.39 PM.jpeg');
}

#portFolioCardBody4 {
    background-image: url('/images/portfolio_images/PM-PDC-ARTWORK.jpg');
}

#portFolioCardBody5 {
    background-image: url('/images/portfolio_images/Door Panels.jpg');
}

#portFolioCardBody6 {
    background-image: url('/images/portfolio_images/Non illuminated signs.jpg');
}

#portFolioCardBody7 {
    background-image: url('/images/portfolio_images/3D Illuminated signs.jpg');
}

#portFolioCardBody8 {
    background-image: url('/images/portfolio_images/Branding.jpg');
}

#portFolioCardText {
    font-size: 18px;
    font-weight: 600;
}

/*************************** Start of very small screen styling ***************************/

@media screen and (max-width: 300px) {
    #navbarToggler {
        background-color: #FFFFFF;
        height: 35px;
        width: 35px;
    }

    #navbarTogglerIcon {
        background-color: #FFFFFF;
        height: 15px;
        width: 15px;
    }

    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 275px;
    }

    .slide1, .slide2, .slide3 {
        height: 275px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 30%;
        width: 45%;
        position: absolute;
        margin-left: 25px;
        margin-top: -225px;
        border-radius: 15px;
        padding: 0.5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 12px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-left: 15px;
    }

    #introTitleStatement {
        font-size: 20px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 14px;
    }

    .swiper {
        width: 100%;
        height: 495px;
    }

    .swiper-slide {
        width: 275px;
        height: 375px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 105px;
        width: 105px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 18px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 12px;
    }

    #portFolioTitle, #statisticsCounterTitle, #signageProcessTitle {
        font-size: 30px;
        margin-top: 45px;
    }

    #portFolioIcon {
        font-size: 30px;
    }

    #portFolioNumber {
        font-size: 20px;
    }

    #portFolioText {
        font-size: 14px;
        font-weight: 300;
    }

    #portFolioCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 275px;
        height: 275px;
        overflow: hidden;
    }

}

/*************************** End of very small screen styling ***************************/

/*************************** Start of small-medium screen styling ***************************/

@media screen and (min-width: 300px) {
    #navbarToggler {
        background-color: #FFFFFF;
        height: 45px;
        width: 45px4
    }

    #navbarTogglerIcon {
        background-color: #FFFFFF;
        height: 25px;
        width: 25px;
    }

    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 300px;
    }

    .slide1, .slide2, .slide3 {
        height: 300px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 30%;
        width: 45%;
        position: absolute;
        margin-left: 25px;
        margin-top: -225px;
        border-radius: 15px;
        padding: 0.5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 12px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-left: 10px;
    }

    #introTitleStatement {
        font-size: 22px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 14px;
    }

    .swiper {
        width: 100%;
        height: 495px;
    }

    .swiper-slide {
        width: 275px;
        height: 375px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 105px;
        width: 105px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 18px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 12px;
    }

    #portFolioTitle, #statisticsCounterTitle, #signageProcessTitle {
        font-size: 32px;
        margin-top: 45px;
    }

    #portFolioIcon {
        font-size: 30px;
    }

    #portFolioNumber {
        font-size: 20px;
    }

    #portFolioText {
        font-size: 14px;
        font-weight: 400;
    }

    #portFolioCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 275px;
        height: 275px;
        overflow: hidden;
    }

}

/*************************** End of small-medium screen styling ***************************/

/*************************** Start of special screen styling ***************************/

@media screen and (min-width: 575px) and (max-width: 1100px) {
    .swiper {
        width: 100%;
        height: 575px;
    }

    .swiper-slide {
        width: 275px;
        height: 475px;
        background: #00ADEE;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 20px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 14px;
    }

    #portFolioCardRow #portFolioCardCol {
        width: 50%;
    }

    #portFolioCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 275px;
        height: 275px;
        overflow: hidden;
    }
}

/*************************** End of special screen styling ***************************/

/*************************** Start of tablet screen styling ***************************/

@media screen and (min-width: 600px) {
    #navbarToggler {
        background-color: #FFFFFF;
        height: 45px;
        width: 45px4
    }

    #navbarTogglerIcon {
        background-color: #FFFFFF;
        height: 25px;
        width: 25px;
    }

    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 450px;
    }

    .slide1, .slide2, .slide3 {
        height: 450px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 30%;
        width: 45%;
        position: absolute;
        margin-left: 35px;
        margin-top: -395px;
        border-radius: 35px;
        padding: 0.5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 18px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-left: 15px;
    }

    #introTitleStatement {
        font-size: 24px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 16px;
    }

    #portFolioTitle, #statisticsCounterTitle, #signageProcessTitle {
        font-size: 34px;
        margin-top: 45px;
    }

    #portFolioIcon {
        font-size: 40px;
    }

    #portFolioNumber {
        font-size: 30px;
    }

    #portFolioText {
        font-size: 16px;
        font-weight: 500;
    }

}

/*************************** End of tablet screen styling ***************************/

/*************************** Start of medium screen styling ***************************/

@media screen and (min-width: 1200px) {
    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 600px;
    }

    .slide1, .slide2, .slide3 {
        height: 600px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 30%;
        width: 45%;
        position: absolute;
        margin-left: 45px;
        margin-top: -525px;
        border-radius: 55px;
        padding: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 32px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 25px;
        margin-left: 25px;
    }

    #introTitleStatement {
        font-size: 28px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 20px;
    }

    .swiper {
        width: 100%;
        height: 595px;
    }

    .swiper-slide {
        width: 475px;
        height: 475px;
        background: #00ADEE;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 175px;
        width: 175px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 28px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 16px;
    }

    #portFolioTitle, #statisticsCounterTitle, #signageProcessTitle {
        font-size: 38px;
        margin-top: 45px;
    }

    #portFolioIcon {
        font-size: 80px;
    }

    #portFolioNumber {
        font-size: 40px;
    }

    #portFolioText {
        font-size: 24px;
        font-weight: 600;
    }

    #portFolioCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        overflow: hidden;
    }

}

/*************************** End of medium screen styling ***************************/

/*************************** Start of large screen styling ***************************/

@media screen and (min-width: 1800px) {
    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 900px;
    }

    .slide1, .slide2, .slide3 {
        height: 900px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 30%;
        width: 45%;
        position: absolute;
        margin-left: 45px;
        margin-top: -795px;
        border-radius: 55px;
        padding: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 32px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 45px;
        margin-left: 45px;
    }

    #introTitleStatement {
        font-size: 32px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 24px;
    }

    .swiper {
        width: 100%;
        height: 795px;
    }

    .swiper-slide {
        width: 675px;
        height: 675px;
        background: #00ADEE;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 225px;
        width: 225px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 38px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 24px;
    }

    #portFolioTitle, #statisticsCounterTitle, #signageProcessTitle {
        font-size: 42px;
        margin-top: 45px;
    }

    #portFolioIcon {
        font-size: 80px;
    }

    #portFolioNumber {
        font-size: 60px;
    }

    #portFolioText {
        font-size: 24px;
        font-weight: 900;
    }

    #portFolioCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 400px;
        height: 400px;
        overflow: hidden;
    }

}

/*************************** End of large screen styling ***************************/

/*************************** Start of extra large screen styling ***************************/

@media screen and (min-width: 2400px) {
    #zahrasignsMainCarouselImagesHolder {
        width: 100%;
        height: 1200px;
    }

    .slide1, .slide2, .slide3 {
        height: 1200px;
    }

    #zahrasignsMainCarouselTextArea {
        /*border: 1px solid #FFFFFF;*/
        height: 20%;
        width: 45%;
        position: absolute;
        margin-left: 45px;
        margin-top: -995px;
        border-radius: 55px;
        padding: 5px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
    }

    #zahrasignsMainCarouselText {
        font-size: 36px;
        display: none;
    }

    #zahrasignsMainCarouselTextDescription {
        font-size: 34px;
        text-transform: uppercase;
        margin-top: 55px;
        margin-left: 55px;
    }

    #introTitleStatement {
        font-size: 36px;
        color: #2E3191;
    }

    #introDescriptionStatement {
        font-size: 28px;
    }

    .swiper {
        width: 100%;
        height: 995px;
    }

    .swiper-slide {
        width: 875px;
        height: 875px;
        background: #00ADEE;
        -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0006);
    }

    #signageSwiperSlide1 img, #signageSwiperSlide2 img, #signageSwiperSlide3 img, #signageSwiperSlide4 img, 
    #signageSwiperSlide5 img, #signageSwiperSlide6 img {
        height: 325px;
        width: 325px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
    }

    #signageSwiperSlide1 h3, #signageSwiperSlide2 h3, #signageSwiperSlide3 h3, #signageSwiperSlide4 h3, 
    #signageSwiperSlide5 h3, #signageSwiperSlide6 h3 {
        text-decoration: underline;
        font-size: 48px;
    }

    #signageSwiperSlide1 p, #signageSwiperSlide2 p, #signageSwiperSlide3 p, #signageSwiperSlide4 p, 
    #signageSwiperSlide5 p, #signageSwiperSlide6 p {
        font-size: 32px;
    }

    #portFolioTitle, #statisticsCounterTitle, #signageProcessTitle {
        font-size: 42px;
        margin-top: 45px;
    }

    #portFolioIcon {
        font-size: 100px;
    }

    #portFolioNumber {
        font-size: 80px;
    }

    #portFolioText {
        font-size: 30px;
        font-weight: 900;
    }

    #portFolioCard {
        background: #FFFFFF;
        color: #000000;
        border-radius: 10px;
        width: 475px;
        height: 475px;
        overflow: hidden;
    }
}

/*************************** End of extra large screen styling ***************************/







